CarRentalBackend/ClientWebApp/ClientWebApp/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfLogger/Service1/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfLogger/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfLogger/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfLogger" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_critical_InputMessage">
    <wsdl:part name="parameters" element="tns:critical" />
  </wsdl:message>
  <wsdl:message name="IService1_critical_OutputMessage">
    <wsdl:part name="parameters" element="tns:criticalResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_error_InputMessage">
    <wsdl:part name="parameters" element="tns:error" />
  </wsdl:message>
  <wsdl:message name="IService1_error_OutputMessage">
    <wsdl:part name="parameters" element="tns:errorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_warning_InputMessage">
    <wsdl:part name="parameters" element="tns:warning" />
  </wsdl:message>
  <wsdl:message name="IService1_warning_OutputMessage">
    <wsdl:part name="parameters" element="tns:warningResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_info_InputMessage">
    <wsdl:part name="parameters" element="tns:info" />
  </wsdl:message>
  <wsdl:message name="IService1_info_OutputMessage">
    <wsdl:part name="parameters" element="tns:infoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_debug_InputMessage">
    <wsdl:part name="parameters" element="tns:debug" />
  </wsdl:message>
  <wsdl:message name="IService1_debug_OutputMessage">
    <wsdl:part name="parameters" element="tns:debugResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="critical">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/critical" message="tns:IService1_critical_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/criticalResponse" message="tns:IService1_critical_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="error">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/error" message="tns:IService1_error_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/errorResponse" message="tns:IService1_error_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="warning">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/warning" message="tns:IService1_warning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/warningResponse" message="tns:IService1_warning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="info">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/info" message="tns:IService1_info_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/infoResponse" message="tns:IService1_info_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="debug">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/debug" message="tns:IService1_debug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/debugResponse" message="tns:IService1_debug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="critical">
      <soap:operation soapAction="http://tempuri.org/IService1/critical" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="error">
      <soap:operation soapAction="http://tempuri.org/IService1/error" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="warning">
      <soap:operation soapAction="http://tempuri.org/IService1/warning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="info">
      <soap:operation soapAction="http://tempuri.org/IService1/info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="debug">
      <soap:operation soapAction="http://tempuri.org/IService1/debug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfLogger/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>